In [1]:
import neo4j
import math
import numpy as np
import pandas as pd
import re

import psycopg2
from scipy import spatial
from geographiclib.geodesic import Geodesic

In [2]:
#
# function to run a select query and return rows in a pandas dataframe
# pandas puts all numeric values from postgres to float
# if it will fit in an integer, change it to integer
#

def my_select_query_pandas(query, rollback_before_flag, rollback_after_flag):
    "function to run a select query and return rows in a pandas dataframe"
    
    if rollback_before_flag:
        connection.rollback()
    
    df = pd.read_sql_query(query, connection)
    
    if rollback_after_flag:
        connection.rollback()
    
    # fix the float columns that really should be integers
    
    for column in df:
    
        if df[column].dtype == "float64":

            fraction_flag = False

            for value in df[column].values:
                
                if not np.isnan(value):
                    if value - math.floor(value) != 0:
                        fraction_flag = True

            if not fraction_flag:
                df[column] = df[column].astype('Int64')
    
    return(df)

connection = psycopg2.connect(
    user = "postgres",
    password = "ucb",
    host = "postgres",
    port = "5432",
    database = "postgres"
)

In [3]:
driver = neo4j.GraphDatabase.driver(uri="neo4j://neo4j:7687", auth=("neo4j","ucb_mids_w205"))
session = driver.session(database="neo4j")

In [4]:
rollback_before_flag = True
rollback_after_flag = True

query = """

SELECT *
FROM stations

"""

stations = my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)
stations.head()

               station   latitude   longitude  transfer_time
0          12th Street  37.803608 -122.272006            282
1  16th Street Mission  37.764847 -122.420042            287
2          19th Street  37.807869 -122.268980             67
3  24th Street Mission  37.752000 -122.418700            277
4              Antioch  37.996281 -121.783404              0

### ZIP CODES

In [5]:
rollback_before_flag = True
rollback_after_flag = True

query = """

SELECT *
FROM customers

"""

zip_codes = my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)
zip_codes

,customer_id,first_name,last_name,street,city,state,zip,closest_store_id,distance
0,1,Robb,Weaving,5 Ramsey Place,Oakland,CA,94609,1,1
1,2,Robby,Belliard,6 Londonderry Plaza,Oakland,CA,94609,1,1
2,3,Sadella,Caudrelier,548 Mcguire Parkway,Oakland,CA,94609,1,1
3,4,Holmes,Shimmings,99 Kennedy Court,Oakland,CA,94609,1,1
4,5,Beverley,Gubbin,51 Mcbride Drive,Oakland,CA,94609,1,1
...,...,...,...,...,...,...,...,...,...
31077,31078,Hugo,Domeney,529 5th Plaza,Thompsons Station,TN,37179,5,25
31078,31079,Glenn,Putson,1347 Westend Crossing,Thompsons Station,TN,37179,5,25
31079,31080,Minnie,Antham,9 Judy Place,Thompsons Station,TN,37179,5,25
31080,31081,Linet,Djorvic,29 Trailsway Drive,Thompsons Station,TN,37179,5,25
31081,31082,Randal,Bourdas,2 Crescent Oaks Drive,Thompsons Station,TN,37179,5,25

In [6]:
query = """

SELECT customer_id, customers.zip, latitude, longitude
FROM customers, zip_codes 
WHERE customers.zip = zip_codes.zip

"""

customer_loc = my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)
customer_loc

       customer_id    zip  latitude  longitude
0                1  94609   37.8343  -122.2643
1                2  94609   37.8343  -122.2643
2                3  94609   37.8343  -122.2643
3                4  94609   37.8343  -122.2643
4                5  94609   37.8343  -122.2643
...            ...    ...       ...        ...
31077        31078  37179   35.8116   -86.9277
31078        31079  37179   35.8116   -86.9277
31079        31080  37179   35.8116   -86.9277
31080        31081  37179   35.8116   -86.9277
31081        31082  37179   35.8116   -86.9277

[31082 rows x 4 columns]

## Building customers nodes, and their relations to their closest stations

In [7]:
tree = spatial.KDTree(stations[['latitude', 'longitude']])

In [8]:
dists, inds = tree.query(customer_loc[['latitude', 'longitude']])

Find nearest stations

In [22]:
customer_loc['distance'] = dists * 1.60934
customer_loc['station'] = stations.iloc[inds]['station'].values

In [23]:
customer_loc

       customer_id    zip  latitude  longitude   distance    station
0                1  94609   37.8343  -122.2643   0.010836  MacArthur
1                2  94609   37.8343  -122.2643   0.010836  MacArthur
2                3  94609   37.8343  -122.2643   0.010836  MacArthur
3                4  94609   37.8343  -122.2643   0.010836  MacArthur
4                5  94609   37.8343  -122.2643   0.010836  MacArthur
...            ...    ...       ...        ...        ...        ...
31077        31078  37179   35.8116   -86.9277  56.204755    Antioch
31078        31079  37179   35.8116   -86.9277  56.204755    Antioch
31079        31080  37179   35.8116   -86.9277  56.204755    Antioch
31080        31081  37179   35.8116   -86.9277  56.204755    Antioch
31081        31082  37179   35.8116   -86.9277  56.204755    Antioch

[31082 rows x 6 columns]

In [24]:
dists

array([6.73292099e-03, 6.73292099e-03, 6.73292099e-03, ...,
       3.49241025e+01, 3.49241025e+01, 3.49241025e+01])

In [26]:
def my_neo4j_run_query_pandas(query, **kwargs):
    "run a query and return the results in a pandas dataframe"
    
    result = session.run(query, **kwargs)
    
    df = pd.DataFrame([r.values() for r in result], columns=result.keys())
    
    return df

def my_neo4j_create_customer_node(customer_id, zip_code):
    "create a node with label Station"
    
    query = """
    
    CREATE (:Customer {
                        customer_id: $customer_id,
                        zip_code: $zip_code
                    })
    
    """
    
    session.run(query, customer_id=customer_id, zip_code = zip_code)

def create_relationship_one_way_customer_station(from_customer, to_station, weight):
    "create a relationship one way between two stations with a weight"
    
    query = """
    
    MATCH (from:Customer), 
          (to:Station)
    WHERE from.customer_id = $from_customer and to.name = $to_station
    CREATE (from)-[:DIST {weight: $weight}]->(to)
    
    """
    
    session.run(query, from_customer=from_customer, to_station=to_station, weight=weight)
    
def my_neo4j_number_nodes_relationships():
    "print the number of nodes and relationships"
   
    
    query = """
        match (n) 
        return n.name as node_name, labels(n) as labels
        order by n.name
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_nodes = df.shape[0]
    
    
    query = """
        match (n1)-[r]->(n2) 
        return n1.name as node_name_1, labels(n1) as node_1_labels, 
            type(r) as relationship_type, n2.name as node_name_2, labels(n2) as node_2_labels
        order by node_name_1, node_name_2
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_relationships = df.shape[0]
    
    print("-------------------------")
    print("  Nodes:", number_nodes)
    print("  Relationships:", number_relationships)
    print("-------------------------")

Create **Customer** nodes

In [27]:
connection.rollback()
cust_ids, zip_codes = customer_loc['customer_id'].values, customer_loc['zip'].values
for i in range(len(cust_ids)):
    my_neo4j_create_customer_node(cust_ids[i], zip_codes[i])

In [28]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 31296
  Relationships: 652
-------------------------

Create **relationship**

In [29]:
connection.rollback()
for i in range(len(dists)):
    create_relationship_one_way_customer_station(cust_ids[i], 'arrive ' + customer_loc['station'].values[i], dists[i])

In [30]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 31296
  Relationships: 31734
-------------------------

### Run betweeness to find the optimal stations to setup lockers

In [31]:
def neo4j_betweeness(top):
    query = "CALL gds.graph.drop('ds_betweeness_graph', false)"
    session.run(query)

    query = "CALL gds.graph.project('ds_betweeness_graph', ['Station', 'Customer'], ['LINK', 'DIST'], {relationshipProperties: 'weight'})"
    session.run(query)
    
    query = """
        CALL gds.betweenness.stream('ds_betweeness_graph')
        YIELD nodeId, score
        WITH gds.util.asNode(nodeId).name as originalName, score
        WITH trim(reduce(s = '', part IN tail(split(originalName, ' ')) | s + part + ' ')) AS name, score
        RETURN name, avg(score) AS avgScore
        ORDER BY avgScore DESC
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    return df.head(top)

In [35]:
connection.rollback()
betweeness_stations = neo4j_betweeness(20)

In [36]:
def neo4j_closeness(top):
    query = "CALL gds.graph.drop('ds_closeness_graph', false)"
    session.run(query)

    query = "CALL gds.graph.project('ds_closeness_graph', ['Station', 'Customer'], ['LINK', 'DIST'], {relationshipProperties: 'weight'})"
    session.run(query)
    
    query = """
        CALL gds.closeness.stream('ds_closeness_graph')
        YIELD nodeId, score
        WITH gds.util.asNode(nodeId).name as originalName, score
        WITH trim(reduce(s = '', part IN tail(split(originalName, ' ')) | s + part + ' ')) AS name, score
        RETURN name, avg(score) AS avgScore
        ORDER BY avgScore DESC
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    return df.head(top)

In [37]:
connection.rollback()
closeness_stations = neo4j_closeness(20)

In [39]:
bs = set(betweeness_stations['name'])
cs = set(closeness_stations['name'])

bs ^ cs

{'16th Street Mission',
 '24th Street Mission',
 'Antioch',
 'Bay Fair',
 'Berryessa',
 'Downtown Berkeley',
 'El Cerrito del Norte',
 'Hayward',
 'Pittsburg',
 'Walnut Creek'}

In [40]:
bs

{'12th Street',
 '16th Street Mission',
 '19th Street',
 '24th Street Mission',
 'Bay Fair',
 'Civic Center',
 'Coliseum',
 'Embarcadero',
 'Fruitvale',
 'Hayward',
 'Lafayette',
 'Lake Merritt',
 'MacArthur',
 'Montgomery Street',
 'Orinda',
 'Powell Street',
 'Rockridge',
 'San Leandro',
 'Walnut Creek',
 'West Oakland'}

In [41]:
cs

{'12th Street',
 '19th Street',
 'Antioch',
 'Berryessa',
 'Civic Center',
 'Coliseum',
 'Downtown Berkeley',
 'El Cerrito del Norte',
 'Embarcadero',
 'Fruitvale',
 'Lafayette',
 'Lake Merritt',
 'MacArthur',
 'Montgomery Street',
 'Orinda',
 'Pittsburg',
 'Powell Street',
 'Rockridge',
 'San Leandro',
 'West Oakland'}